html, body, .container {
    height: 100%;
    background: #eee;
}

body {
    padding-top: 32px;
    padding-bottom: 96px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
}

textarea.form-control {
    height: 100%;
    resize: none;
}
