html, body, .container {
    height: 100%;
    background: #eee;
}

body {
    padding-top: 32px;
    padding-bottom: 96px;
}

#console-container{
    height: 100%;
    overflow-y: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
}
