<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Telegram Bot Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <textarea class="form-control" id="console"></textarea>
</div>
<footer class="footer">
    <div class="container">
        <input class="form-control" id="msg-input" type="text">
    </div>
</footer>
<script th:inline="javascript">
    let token = [[${token}]];
</script>
<script data-th-src="@{/js/main.js}"></script>
</body>
</html>
